{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
    <h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem
      accusantium aperiam impedit ipsam explicabo, culpa necessitatibus
      veritatis odit consectetur assumenda magnam hic nam nobis suscipit
      deleniti vitae rerum quas deserunt!
    </h1>
  </body>
</html>
